// Color variables
$primary-color: #646cff;
$primary-hover: #535bf2;
$primary-hover-light: #747bff;
$secondary-color: #673ab8;
$text-color-dark: rgba(255, 255, 255, 0.87);
$bg-color-dark: #242424;
$text-color-light: #213547;
$button-bg-dark: #1a1a1a;
$button-bg-light: #f9f9f9;
$read-the-docs-color: #888;